#btnSearch{
    -fx-graphic: url("../icons/search.png");
    -fx-pref-width: 70;
    -fx-pref-height: 34;
    -fx-background-radius: 0 30 30 0;
}
#edtSearch{
    -fx-pref-width: 380;
    -fx-pref-height: 35;
    -fx-text-fill: rgba(255, 255, 255, 0.5);
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-alignment: CENTER;
    -fx-background-color: rgba(85, 91, 91, 0.47);
    -fx-background-radius: 30 0 0 30;
}

#edtSearch:focused{
    -fx-text-fill: white;
}
#searchBar{

}