#lblKeepAllYouMedia{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#lblWithShowartYou{
    -fx-font-weight: bold;
}

#paneSignIn{
    -fx-background-color: rgba(82, 24, 110, 0.85);
}

#imgBackground{
    -fx-background-image: url("../images/theFlashWallpaper.jpg");
}

.jfx-text-field,.jfx-password-field{
    -fx-text-fill: WHITE;
    -fx-prompt-text-fill: #8f8f8f;
    -jfx-unfocus-color: #4d4d4d;
    -jfx-focus-color: linear-gradient(to right, #ff0982, #131dff,#ff0982);
}

#btnForgotPassword{
    -fx-underline: TRUE;
    -fx-font-size: 9pt;
    -fx-background-color: TRANSPARENT;
}
