#imgViewProfile{
    -fx-border-radius: 100;
}

#btnChangeImgProfile{
    -fx-opacity: 0;
    -fx-text-fill: white;
    -fx-background-color: #515551;
    -fx-alignment: center;
    -fx-font-size: 14;
}
#btnChangeImgProfile:hover{
    -fx-opacity: 0.7;
}

.button-login{
    -fx-pref-height: 45px;
    -fx-pref-width: 220px;
    -fx-graphic-text-gap: 10px;
    -fx-alignment: CENTER;
}

.button-social-media{
    -fx-pref-height: 35px;
    -fx-pref-width: 135px;
    -fx-alignment: CENTER;
    -fx-font-size: 10pt;
    -fx-graphic-text-gap: 10;
}

#paneBackground{
    -fx-background-image: url("../images/batmanWallpaper.png");
}