#sideBar {
    -fx-background-color: #52186e;
    -fx-fill-height: true;
    -fx-alignment: CENTER-LEFT;
}

#imgProfilePane{
    -fx-border-radius: 100;
    -fx-border-color: #ede9ed;
    -fx-effect: dropshadow(gaussian, rgba(237, 233, 237, 0.77),6,0.5,0,0);
}

#lblNameProfile{
    -fx-font-size: 20;
    -fx-text-fill: WHITE;
    -fx-font-weight: bold;
}

#btnExpandCollapse{
    -fx-fill-height: true;
    -fx-background-color: Gray;
}

.button{
    -fx-font-family: Calibri;
    -fx-font-size: 15;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
}

#btnSettings{
    -fx-graphic: url("../icons/settings-gears.png");
    -fx-graphic-text-gap: 15;
}

#btnTvSeries{
    -fx-graphic: url("../icons/clapperboard.png");
    -fx-graphic-text-gap: 15;
}
#btnMovies{
    -fx-graphic: url("../icons/film.png");
    -fx-graphic-text-gap: 15;
}

.titled-pane > .title {
    -fx-background-color: #240a35;
    -fx-font-size: 15;
    -fx-hgap: 20;
    -fx-font-weight: 700;
}
.titled-pane > .title:hover{
    -fx-background-color: #bd31ff;
}
.titled-pane{
    -fx-text-fill: white;
    -fx-alignment: center;
}
.titled-pane:expanded >.title{ -fx-background-color: #bd31ff; }
.titled-pane >.title >.arrow-button>.arrow {
    -fx-opacity: 0.0;
}