.label{
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #515551,3,.5,2,0);
}

.text-field{
   -fx-background-radius: 0.0;
}

.button{
    -fx-background-color: #240a35;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: 700;
    -fx-cursor: HAND;
}

.check-box{
    -fx-cursor: HAND;
}

.button:hover{
    -fx-background-color: #bd31ff;
    -fx-text-fill: white;
}

.button:pressed{
    -fx-effect: dropshadow(gaussian, #240a35,2,1,0,0);
}

.menu-bar{
    -fx-background-color: #240a35;
}

.menu-item{
    -fx-background-color: rgba(237, 233, 237, 0.8);
}

.menu-item:hover{
    -fx-background-color: #bd31ff;
    -fx-text-fill: white;
}
.ikonli-font-icon{
    -fx-icon-color: WHITE;
}

.btnShowPassword{
    -fx-background-color: transparent;
}
